
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*shared style*/
.font-inter-sans-serif{
  font-family: "Inter", sans-serif;

}

.logo img{
    padding: 16px 120px;
    
}

.btn{
  background: #30B868;
  color: #FFF;
  font-size: 16px;
  font-weight: 600;
  padding: 12px 16px;
  border: none;
  border-radius: 4px;
   
  

}
/*hover effect*/

.btn:hover{
     background-color: purple;
     color:chartreuse;
     border-radius: 20px;
     font-style: italic;
     font-variant: inherit;
}
/*main style*/
header{
   
  background-color: #FFFF;
  padding: 16px 120px;
  
}
  
nav{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav .menu{
   display: flex;
   list-style-type: none;
   gap: 32px;
   align-items: center;
}

nav .menu a{
  font-size: 16px;
  font-weight: 500;
  line-height: 152%;
  
  color: #000000;
  text-decoration: none;
}

/*banner section*/
 